/*Default CSS File*/
body {
 background: red;
 color: white;
 max-width: 1024px;
 margin: 0 auto;
}
.profile {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.circle {
  width: 200px;
  height: 200px;
    border-radius: 100%;
}
